
<div class="front-wrapper">
  <h1 class="frp-title"><a href="#/sign-up" translate="translate">Join the Biggest network for dog owners</a></h1>
  <h2 class="frp-title"><a href="#/sign-up" translate="translate">You will...</a></h2>
  <div class="frp-box-wrapper"><a href="#/sign-up">
      <h5 translate="translate">Find the best places for your dog!</h5>
      <div translate="translate">You will have the chance to<br/>exlpore your city for the best places<br/>to enjoy a walk with your dog.</div></a><a id="frp-box-sec" href="#/sign-up">
      <h5 translate="translate">Stay connected with your friends!</h5>
      <div translate="translate">Why not text a message to your buddy for <br/>a walk with your dogs? Get in touch<br/>with all your friends instantly.</div></a><a href="#/sign-up">
      <h5 translate="translate">Having problems with your dog?</h5>
      <div translate="translate">Doggy world will remind you when<br/>to give food to your dogs and when<br/>to go just for a walk!</div></a></div>
</div>