div
	form
		div.pl-form-group
			label Name: 
			input.input-place(type="text" require="required" ng-model="place.name")
		div.pl-form-group
			div
				label Description:
			textarea.input-textarea(type="text" ng-model="place.description")
		div.pl-form-group
			label Private: 
			input(type="radio" ng-model="place.private" value="true")
			span Yes
			input(type="radio" ng-model="place.private" value="false")
			span No
		button.pl-button(ng-disabled="saveBtnDisabled" ng-click="savePlace(place)") Save
		button.pl-button(ng-click="cancelAddPlace()") Cancel