div.sidebar-chat
	div.friend-box(ng-repeat="friend in friends" ng-click="openDiscussion(friend)")
		span.user-names
			{{friend.firstName}} {{friend.lastName}}
		img(src="/img/profPhoto/{{friend._id}}")