div.sidebar-chat
	div.chat-heading
		h2 Chat with friends
	div.chat-friends
		div.friend-box(ng-show="friends.length == 0")
			span.user-names You currently have no friends
		div.friend-box(ng-repeat="friend in friends" ng-click="openDiscussion(friend); hideModal();")
			span.online-status(ng-class="{online: friend.online}") &bull;
			span.online-status-text {{friend.online == true | iif : "online" : "offline"}}
			span.user-names
				| {{friend.firstName}} {{friend.lastName}}
			img(src="/img/profPhoto/{{friend._id}}")