div.dog-dialog
	div.dog-dialog-header
		div.dog-dialog-header-left
		div.dog-dialog-header-right(ng-click='hideModal($event)') X
	div.dog-dialog-content
		div.dog-dialog-left leeeft
		div.dog-dialog-right riiiiight