div.dog-dialog
	div.dog-dialog-header {{dog.name}}
		div.dog-dialog-header-left
		div.dog-dialog-header-right(ng-click='closeModal()') X
	div.dog-dialog-content
		div.dog-dialog-left leeeft
		div.dog-dialog-right riiiiight