div.chat-window(ng-repeat="discussion in discussions" ) 
	div.chat-window-header(ng-drag="true" ng-drag-success="onDragComplete($event)" 
	no-reset="true"  use-parent="true") {{discussion.recipient.firstName}}
	div(ng-controller="ChatController") asd