div(ng-controller="ChatController")
	div.chat-window(ng-repeat="(Dindex, discussion) in discussions") 
		div.chat-window-header(ng-drag="true" no-reset="true"  use-parent="true") 
			span.online-status(ng-class="{online: discussion.recipient.online }") &bull;
			| {{discussion.recipient.firstName}}
		div.chat-window-close(ng-click="closeDiscussion(discussion)") X
		div.chat-window-content(ng-init="getMessages(discussion.recipient._id)" scroll-glue="true")
			div.message(ng-repeat="message in discussion.messages track by $index")
				div.message-date(ng-show="message.firstOfQuery") {{message.date}} 
				div.message-content(ng-class="{'message-alt': message.to == discussion.recipient._id}") {{message.content}}
				div.message-seen(ng-show="message.seen && $last && message.from != discussion.recipient._id") Seen
		div.chat-footer
			textarea.chat-text-input(type="text" ng-model="discussion.messageContent"
			ng-keydown="handleKeyDown(discussion.recipient._id, $event)" ng-keyup="handleKeyUp($event)" ng-focus="seeFutureMessages(discussion)" ng-blur="missFutureMessages(discussion)")
			button.chat-submit-btn(ng-click="sendMessage(discussion)") Send