div.chat-window(ng-repeat="discussion in discussions" ng-controller="ChatController") 
	div.chat-window-header(ng-drag="true" ng-drag-success="onDragComplete($event)" 
	no-reset="true"  use-parent="true") {{discussion.recipient.firstName}}
	div.chat-window-close(ng-click="closeDiscussion(discussion)") X
	div.chat-window-content(ng-init="getMessages(discussion.recipient._id)" scroll-glue)
		div.message(ng-class="" ng-repeat="message in messages")
			div(ng-show="message.firstOfQuery") {{message.date}} 
			div {{message.content}}
			div(ng-show="message.seen && $last && message.from != discussion.recipient._id") Seen
	div.chat-footer
		input.chat-text-input(type="text" ng-model="messageContent" ng-keyup="$event.keyCode == 13 && sendMessage(discussion.recipient._id, messageContent)" ng-focus="seeLastMessage()")
		button.chat-submit-btn(ng-click="sendMessage(discussion.recipient._id, messageContent)") Send