div
	h2.titleNewDog ADD NEW DOGGY
	form.form-new-dog(name="newDogForm")
		div.titleFieldDog NAME
		input.input-dog-field(type="text" require="required" ng-change="change()" placeholder="NAME" name="name" ng-model="dog.name")
		div.titleFieldDog BIRTH DATE
		input.input-dog-field(type="text" require="required" id="date-picker" placeholder="BIRTH DATE" name="age" ng-model="dog.age")
		div.titleFieldDog BREED
		input.input-dog-field(type="text" require="required" placeholder="BREED" name="breed" ng-model="dog.breed")
		div.titleFieldDog Photo
		input.input-upload-dog-photo(multiple="multiple" require="required" ng-file-select="onFileSelect($files)" name="photo" type="file")
		div
			progress(value="{{progress}}")
		div
			button.button-new-dog(ng-click="addDog(dog)" ng-disable="newDogForm.$invalid") ADD DOG