.chat-window {
	position: absolute;
	left: 40%;
	top: 40%;

	width: 250px;
	height: 270px;
	overflow: hidden;
	margin: 1em;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,123,194,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(0,123,194,1);
box-shadow: 0px 0px 5px 5px rgba(0,123,194,1);
    border-radius: .3em;
    border: .4em solid rgba(255, 255, 255, .1);
    background: #f0edcc;
    font-family: Century Gothic, sans-serif;
}

.chat-window > .chat-window-header {

	padding: 5px;
	color: #7CCC31;
	font-weight: bold;

	background:-webkit-gradient(linear, 0 0, 0 100%, from(#505050), to(#1D1D1D));
	background:-moz-linear-gradient(#505050, #1D1D1D);
	background:-o-linear-gradient(#505050, #1D1D1D);
	background:linear-gradient(#505050, #1D1D1D);
}

.chat-window > .chat-window-content {

    background: #f0edcc;
    color: gray;

    width: 230px;
    height: 175px;
    padding: 10px;
    margin: 0;
    box-shadow: inset 0 0 1px black;

	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */

    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-window > .chat-window-close {

	float: right;
	color: #7CCC31;
	margin-top: -27px;
	margin-right: 5px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.message:last-of-type {

	clear: both;
}

.chat-footer {
	display: block;
	margin-top: 5px;
	vertical-align: top;
}

.chat-text-input {
	display: inline-block;
	min-height: 20px;
	max-height: 20px;
	min-width: 62%;
	max-width: 62%;
	float: left;
	outline: none;
	border:1px solid #7CCC31;
	border-radius: 5px;
	padding: 5px;
	resize:none;
	overflow-y:scroll;
}

.chat-submit-btn {
	display: inline-block;
	height: 30px;
	width: 30%;
	float: right;
	background: #7CCC31;
	color: #0CA2FF;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	outline: none;
}
.chat-submit-btn:active{
	background: #0CA2FF;
	color: #7CCC31;
}
.message-seen {

	font-style: italic;
	font-size: 14px;
	clear: both;
	float: right;
	margin-bottom: 90px;
}

.message .message-content {
	/*padding:15px;
	margin-bottom: 10px;
	color:#fff;
	background: rgba(7, 86, 152, .3); /* default background for browsers without gradient support */
	/* css3 */
	/*background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(46, 136, 196, .03)), to(rgba(7, 86, 152, 1)));
	background:-moz-linear-gradient(rgba(46, 136, 196, 1), rgba(7, 86, 152, .03));
	background:-o-linear-gradient(rgba(46, 136, 196, 1), rgba(7, 86, 152, .03));
	background:linear-gradient(rgba(46, 136, 196, 1), rgba(7, 86, 152, .03));
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;*/

	box-sizing: border-box;
	float: left;
	width: auto;
	max-width: 80%;
	position: relative;
	clear: both;

	background: #95c2fd;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #95c2fd));
	background-image: -webkit-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
	background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
	background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
	background-image: -o-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
	background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#95c2fd', endColorstr='#bee2ff');

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	-webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 5px;
	padding: 6px 10px;
	font-size: 12px;
	font-family: tahoma;
	color: #000;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	word-wrap: break-word;
}

.message .message-content:before, .message-content:after {
	border-radius: 20px / 5px;
	content: '';
	display: block;
	position: absolute;
}
.message .message-content:before {
	border: 10px solid transparent;
	border-bottom-color: rgba(0,0,0,0.5);
	bottom: 0px;
	left: -7px;
	z-index: -2;
}
.message .message-content:after {
	border: 8px solid transparent;
	border-bottom-color: #bee2ff; /* arrow color */
	bottom: 1px;
	left: -5px;
}

.message .message-alt {
	float: right;

	background: #7CCC31;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #ABE872), color-stop(1, #7CCC31));
	background-image: -webkit-linear-gradient(bottom, #ABE872 15%, #7CCC31 100%);
	background-image: -moz-linear-gradient(bottom, #ABE872 15%, #7CCC31 100%);
	background-image: -ms-linear-gradient(bottom, #ABE872 15%, #7CCC31 100%);
	background-image: -o-linear-gradient(bottom, #ABE872 15%, #7CCC31 100%);
	background-image: linear-gradient(bottom, #ABE872 15%, #7CCC31 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7CCC31', endColorstr='#ABE872');
}
.message .message-alt:before {
	left: auto;
	right: -7px;
}
.message .message-alt:after {
	left: auto;
	right: -5px;
	border-bottom-color: #ABE872; /* arrow color */
}