.wrapper-dog{
	display: block;
	margin: 0 auto;
	width: 700px;
	border-radius: 2px solid #eaeaea;
	background: #eaeaea;
	color: #424345;
	min-height: 400px;
	height: auto;
	vertical-align: top;
}
.dog-left, .dog-mid, .dog-right{
	display: inline-block;
	vertical-align: top;
}
.dog-left{
	width: 20%;
	min-height: 400px;
	height: auto;
	background: #fefefe;
}
.dog-mid{
	width: 60%;
	padding: 10px;
}
.dog-right{
	width: 20%;
	background: #505050;
	min-height: 400px;
	height: auto;
}
/*.dog-birthdate, .dog-breed, .dog-food, .dog-walk, .dog-description, .dog-name{
	width: 100%;
}*/
.dog-pic-container{
	margin: 2px;
	padding: 5px;
	background: #ffffff;
	border-radius: 2px;
}
.dog-pic-container img{
	width: 100%;
	max-height: 380px;
	border-radius: 2px;
}
.dog-group{
	margin: 10px 0;
	border-bottom: 1px solid #424345;
	height: 30px;
	line-height: 30px;
	text-align: left;
}
.dog-change-content{
	display: inline-block;
}
.dog-change-content div{
	float: right;
}
.dog-birthdate, .dog-name, .dog-breed{
	width: 40%;
	display: inline-block;
}
.dog-change-content{
	width: 60%;
}
.btn-change-dog-field{
	padding: 3px;
	font-size: 0.7em;
	color: #09ADED;
	border: 1px solid #1D1D1D;
	text-decoration: none;
	background-color: #1D1D1D;
	border-radius: 3px;
	margin-bottom: 2px;
	line-height: 20px;
}
.btn-change-dog-field:hover{
	cursor: pointer;
	background-color: #7ccc31;
	border-color: #7ccc31;
	color: #181E22;
}
.dog-input-field{
	color: #09ADED;
	border: 1px solid #09ADED;
	border-radius: 3px;
	outline: none;
	padding: 3px;
	height: 17px;
	width: 70%;
}
.dog-date-selector{
	outline: none;
	margin-right: 15px;
	border: 1px solid #09ADED;
}
.dog-date-selector:focus{
	-webkit-box-shadow: 0px 0px 2px 1px rgba(9,172,237,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(9,172,237,1);
	box-shadow: 0px 0px 2px 1px rgba(9,172,237,1);
}
.dog-right > .btn-change-dog-field{
	margin: 15px 0;
	padding: 3px 0;
	text-align: center;
}