.route-header {
	display: block;
	width: 700px;
	font-size: 36px;
	font-family: tahoma;
	color: #2e2e2e;
	margin: 0 auto;
}

.switch-btn{
	display: inline-block;
	position: relative;
	margin-right: 3px;
	width: auto;
	padding: 5px;
	background: #01a3e8;
	color: #fff;
	font-size: 15px;
	border: none;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}
.switch-btn-clicked:hover{
	background: #01a3e8;
	color: #fff;
}
.switch-btn-not-clicked{
	background: #96dcf9;
	color:#fff;
	top:2px;
}
.switch-btn-not-clicked:hover{
	background: #43bdf1;
	color: #fff;
	top:0;
}

form#signup-form, form#achievment-form {

	width: 700px;
	height: 800px;
	padding: 20px;
	margin: 50px auto;
	background-color: #F0F0F0;
}

form .form-field {
	float: left;
	margin-bottom: 20px;
	width: 550px;
}

form .form-field .label {
	
	float: left;
	width: 250px;
	font-family: "Source Sans Pro Black";
	text-transform: uppercase;
	color: #7d7c77;
	font-size: 1.2em;
	letter-spacing: 0.14em;
}

form .form-field .field {

	width: 250px;
	padding: 10px;
}

form .form-field input:not([type="file"]) {
	
	width: 230px;
	float: left;
	height: 20px;
	border: 1px solid #d6d7d2;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

form .form-field select {

	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-color:#7DCC31;
	background-repeat:no-repeat;
	background-position: right 10px top 15px;
	background-size: 16px 16px;

	padding:12px;
	width:275px;
	
	font-family:arial,tahoma;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);

	border-radius:3px;	
	-webkit-border-radius:3px;
	-webkit-appearance: none;
	border:0;
	outline:0;
	
	-webkit-transition:0.3s ease all;
	-moz-transition:0.3s ease all;
	-ms-transition:0.3s ease all;
	-o-transition:0.3s ease all;
	
	transition:0.3s ease all;
}

	form .form-field select:focus, form .form-field select:active, form .form-field select:hover {
	  border:0;
	  outline:0;
	  background-color:#09ADED;
	}

form .form-field .error-field, form .form-field .instruct {

	display: none;
	color: #a12121;
	font-family: tahoma;
	width: 100px;
}

form .form-field .error-field.failed {

	display: inline;
}

#signup-form input[type="submit"]:hover, .btn:hover {
	background: #b2cf36 url('/img/btnHover.jpg') 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#signup-form .form-field input[type="submit"], #signup-form input[type="submit"] {
	display: block;
	height: 50px;
	width: 270px;
	background-color: #00adee;
	text-transform: none;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-family: "league_gothicregular";
	font-size: 28px;
	line-height: 36px;
	border: none;
	margin-top: 5px;
	cursor: pointer;
	cursor: hand;
}

form .form-field input[type="submit"] {

	margin-left: 200px;
}

form button.wide-btn {

	width: 500px;
	padding: 10px;
}

#status-message  {

	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 25px;
}

#status-message .icon-no {
	
	height: 24px;
	width: 25px;
	background-image: url('/img/sprites-s15961808f9.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	float: left;
}

#status-message .status {
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	background-color: #fbb6a9;
	padding: 10px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	color: #b41c1c;
	font-weight: 100;
	margin: 20px 0 24px;
}

#status-message .status p {

	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-align: center;
}

.ach-progress {

	float: left;
	width: 550px;
}

#vide-preview {

	display: block;
}

form #new-or-apply.field button {

	width: 83px; /*3 buttons, field is 250px wide*/
}

form .video-preview progress.ach-progress {

	width: 500px;
}