.right-wrapper{
	margin-left: 80px;
	width: 90%;
	height: auto;
	display: inline-block;
}
.content{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
	height: auto;
}
.col-1, .col-2{
	display: inline-block;
	vertical-align: top;
}
.col-1{
	width: 25%;
}
.col-2{
	width: 70%;
}
.profPhotoContainer{
	display: inline-block;
	overflow: hidden;
	background-color: #e0e0e0;
	padding: 5px;
	width: 150px;
	height: auto;
	float: right;
	margin-right: 20px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(110,244,43,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(110,244,43,1);
	box-shadow: 0px 0px 5px 2px rgba(110,244,43,1);
}
.profPhoto{
	display: inline-block;
	width: 100%;
	border-radius: 10px;
}
.profPhotoContainer:hover{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(12,162,255,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(12,162,255,1);
box-shadow: 0px 0px 5px 2px rgba(12,162,255,1);
}
.content-home{
	margin-top: 0 auto;
	width: 95%;
	background-color: #e0e0e0;
	border-radius: 10px;
	min-height: 600px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(110,244,43,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(110,244,43,1);
	box-shadow: 0px 0px 5px 2px rgba(110,244,43,1);

}