.right-wrapper{
	margin-left: 80px;
	width: 90%;
	height: auto;
	display: inline-block;
}
.content{
	display: inline-block;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
	height: auto;
}
.col-1, .col-2{
	display: inline-block;
	vertical-align: top;
}
.col-1{
	width: 25%;
}
.col-2{
	width: 70%;
}
.profPhotoContainer{
	display: inline-block;
	overflow: hidden;
	background-color: #f0f0f0;
	padding: 5px;
	width: 150px;
	height: auto;
	float: right;
	margin-right: 20px;
	border-radius: 2px;
}
.profPhoto{
	display: inline-block;
	width: 100%;
	border-radius: 2px;
}
.profPhotoContainer:hover{
	cursor: pointer;
}
.content-home{
	margin-top: 0 auto;
	padding: 10px;
	width: 95%;
	background-color: #f0f0f0;
	border-radius: 2px;
	color: #424345;
	min-height: 1000px;

}
.user-names{
	color: #424345;
	border-bottom: 1px solid #424345;
	margin-bottom: 10px;
}
.user-names a{
	color: #424345;
	text-decoration: none;
}
.user-names a:hover{
	color: #0CA2FF;
	cursor: pointer;
}