.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: fixed;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #7a7a7e;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
  z-index: 9999;
}
.ng-modal-close {
  position: fixed;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/* content form */
.login-h{
  font-weight: 900;
}
.line{
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.user-name-lbl{
  display: inline-block;
  color: #6FF42B;
  padding-right: 5px;
  font-weight: 900;
  font-size: 1.2em;
}
.password-lbl{
  display: inline-block;
  color: #6FF42B;
  padding-right: 21px;
  font-weight: 900;
  font-size: 1.2em;
}
.form-row{
  display: block;
  height: 40px;
}
.login-input{
  border: 1px solid #6FF42B;
  border-radius: 20px;
  height: 28px;
  letter-spacing: 1px;
  color: #09ADED;
  outline: none;
  font-weight: 900;
  padding-left: 8px;
}
.login-input:focus{
  border-color: #09ADED;
}
.login-btn{
  display: inline-block;
  width: 60px;
  padding: 10px;
  margin-top: 7px;
  color: #09ADED;
  border: 1px solid #1D1D1D;
  border-radius: 2px;
  text-decoration: none;
  text-align: right;
  background-color: #1D1D1D;
}
.login-btn:hover{
  cursor: pointer;
  background-color: #6FF42B;
  border-color: #6FF42B;
  color: #181E22;
}