.prof-wrapper{
	width: 90%;
	min-height: 500px;
	margin: 0 auto;
	background: #eaeaea;
	border-radius: 5px;
}
.prof-left-content, .prof-right-content{
	display: inline-block;
	vertical-align: top;
}

/* left content */
.prof-left-content{
	width: 15%;
	min-height: 500px;
	background: #fefefe;
}
.prof-photo-container{
	margin: 0 auto;
	width: 90%;
	padding: 10px 5px;
	max-height: 200px;
}
.prof-photo-container img{
	width: 100%;
	border-radius: 3px;
}

/*right content */
.prof-right-content{
	width: 85%;
	padding: 15px;
}
.prof-notCurrUser h1, .prof-notCurrUser button{
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
}
.prof-notCurrUser button{
	padding: 5px 10px;
}
.prof-notCurrUser button:first-of-type{
	margin-left: 10px;
}
.prof-dog-container{
	color: #484848;
	float: left;
	display: inline-block;
	width: 25%;
	height: 280px;
	min-height: 150px;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px;
	background-color: #fcfcfc;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	vertical-align: top;
	overflow: hidden;
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}
.prof-dog-container:hover{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(12,162,255,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(12,162,255,1);
	box-shadow: 0px 0px 5px 2px rgba(12,162,255,1);
}