.form-search{
	width:400px;
	margin:0 auto;
}
.search { 
	padding-top:5px;
	padding-bottom: 8px;
	padding-bottom: 1px;
	padding-left: 36px;
	margin-top: 15px; 
	min-height: 30px;
	width: 100%;
	outline: none;
	border: none;
	background: url('https://4fb04472311693ccebc6683fa1e6d537a54a4927.googledrive.com/host/0B_EenlQcPPQvNW1mVEN0eW5DWG8/btnSearchIcon.png') no-repeat 10px 10px;
	background-size: 18px;
	letter-spacing: 2px;
	font-size: 1.1em;
	color: #0CA2FF;
}
.rounded {
	border-radius:30px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
	background-color: #505050;
}
.search:focus{
	border: 1px solid #6FF42B;
	background: url("https://4fb04472311693ccebc6683fa1e6d537a54a4927.googledrive.com/host/0B_EenlQcPPQvNW1mVEN0eW5DWG8/btnSearchIcon2.png") no-repeat 10px 10px;
	background-size: 18px;
}
.search-results{
	background-color: #fff;
	margin-top: 0;
	position: fixed;
	margin-left: 15px;
	width: 420px;
	color: #181E22;
	border: 1px solid #181E22;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75);
}