h1,h2,div,a,span,table,tr,td,button,h3,section,img,html,body{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	min-height: 100%;
}
body{
	background-color: #181E22;
	color: #fff;
	height: 100%;
	min-height: 100%;
	font-family: Century Gothic, sans-serif;
}
h1, h2, h3, a{
	color: #0CA2FF;
}
.contentDialog{
	color:#000;
}
.nav{
	position: fixed;
	background-color: #424345;
	width: 100%;
	height: 60px;
	overflow: hidden;
}
.nav-bar, .title, .nav-login{
	display: inline-block;
}
.nav-bar{
	width: 85%;
}
.right-nav{
	width: 30%;
}
.mid-nav{
	width: 50%;
}
.left-nav{
	width: 20%;
}
.right-nav, .left-nav, .mid-nav{
	display:inline-block;
	vertical-align: top;
}
.title{
	margin: 0;
	display: inline-block;
	max-height:60px;
	vertical-align: top;
}
.title img{
	margin: 0;
	height: 60px;
	vertical-align: top;
}
.nav-bar-ul{
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	padding-left: 21px;
}
.nav-bar-ul li{
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
}
.float-right{
	float: right;
}
.btn-nav-login{
	display: inline-block;
	width: 60px;
	padding: 10px;
	margin-top: 7px;
	color: #09ADED;
	border: 1px solid #1D1D1D;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-decoration: none;
	text-align: right;
	background-color: #1D1D1D;
}
.btn-nav-login:hover{
	cursor: pointer;
	background-color: #6FF42B;
	border-color: #6FF42B;
	color: #181E22;
}
.btn-signup{
	display: inline-block;
	width: 60px;
	padding: 10px;
	margin-top: 7px;
	margin-right: 10px;
	color: #09ADED;
	border: 1px solid #1D1D1D;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-decoration: none;
	background-color: #1D1D1D;
}
.btn-signup:hover{
	cursor: pointer;
	background-color: #0CA2FF;
	border-color: #0CA2FF;
	color: #181E22;
}
.wrapper{
	height: 100%;
	width: 100%;
}
.menu, .right-wrapper{
	display: inline-block;
	vertical-align: top;
}
.right-wrapper{
	position: fixed;
	margin-top: 60px;
	margin-left: 80px;
	height: 100%;
}
.menu{
	position: fixed;
	width: 80px;
	margin-top: 60px;
	height: 100%;
	background-color: #505050;
}
.content{

	margin: 0 auto;
	width: 800px;
	border: 1px solid aqua;
}