h1,h2,div,a,span,table,tr,td,button,h3,section,img,html,body{
	margin: 0;
	padding: 0;
}
body{
	color: #fff;
	font-family: Century Gothic, sans-serif;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {  
    width: 10px;

}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #7ccc31;
    border-radius: 30px; 
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #424345;  
}  
h1, h2, h3, a{
	color: #0CA2FF;
}
.contentDialog{
	color:#000;
}
.center {

	text-align: center;
}
.info-box {

	font-size: 14px;
	position: relative;
	border: 1px solid #1D1D1D;
	border-radius: 3px;
	color: #7CCC31;
	background-color: #1D1D1D;
}
.nav{
	position: fixed;
	background-color: #424345;
	width: 100%;
	height: 70px;
	z-index: 9999;
}
.nav-bar, .title, .nav-login{
	display: inline-block;
}
.nav-bar{
	width: 85%;
}
.right-nav{
	width: 30%;
}
.mid-nav{
	width: 50%;
}
.left-nav{
	width: 20%;
}
.right-nav, .left-nav, .mid-nav{
	display:inline-block;
	vertical-align: top;
}
.left-nav div.logo-container {

	margin-top: -2px;
	margin-left: -15px;
	width: 180px;
}
.title{
	display: block;
	width: 92px;
	height: 60px;
	margin: 0 auto;
}
.title a{
	outline: none;
}
.title img{
	margin: 0;
	height: 60px;
	vertical-align: center;
	outline: none;
}
.nav-bar-ul{
	list-style-type: none;
	display: inline-block;
	vertical-align: center;
	margin-top: 7px;
	padding-left: 15px;
	float: left;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.btn-nav-login{
	display: inline-block;
	width: 60px;
	padding: 10px;
	margin-top: 12px;
	color: #09ADED;
	border: 1px solid #1D1D1D;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-decoration: none;
	text-align: right;
	background-color: #1D1D1D;
}
.btn-nav-login:hover{
	cursor: pointer;
	background-color: #7ccc31;
	border-color: #7ccc31;
	color: #181E22;
}
.btn-signup{
	display: inline-block;
	width: 60px;
	padding: 10px;
	margin-top: 12px;
	margin-right: 10px;
	color: #09ADED;
	border: 1px solid #1D1D1D;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-decoration: none;
	background-color: #1D1D1D;
}
.btn-signup.bg_BG {
	width: 150px;
}
.user-menu{
	display: block;
	margin-top: 25px;
	color: #09ADED;
}
.user-menu:hover{
	cursor: pointer;
	color: #7ccc31;
}
.user-menu-ul{
	display: block;
	position: absolute;
	background-color:rgba(0, 0, 0, 0.7);
	color: #fff;
	list-style-type: none;
	width: 100px;
	top:30px;
}
.user-menu-ul li{
	margin-left: -40px;
	padding: 10px;
	border-bottom: 1px solid #09ADED;
	border-left: 1px solid #09ADED;
	border-right: 1px solid #09ADED;
}
.user-menu-ul li:hover{
	cursor: pointer;
	color: #09ADED;
}
.user-menu li a:hover{
	color: #09ADED;
}
.mobile-user-menu-username{
	display: none;
}
.user-menu-username{
	display: block;
}
.btn-signup:hover, .btn-signout:hover{
	cursor: pointer;
	background-color: #0CA2FF;
	border-color: #0CA2FF;
	color: #181E22;
}

.logged-in-items {

	margin-right: 50px;
}

.logged-in-items > .user-menu {

	margin-right: 10px;
}

.logged-in-items > .user-menu a {

	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
}

/*.btn-signout{
	display: inline-block;
	width: 90px;
	padding: 12px;
	margin-top: 12px;
	margin-right: 10px;
	color: #09ADED;
	border: 1px solid #1D1D1D;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 700;
	outline: none;
	background-color: #1D1D1D;
}*/
.wrapper{
	padding-top: 70px;
	overflow: hidden;
	width: 100%;
	white-space:nowrap;
}
.view-wrapper{
	display: block;
	width: 96%;
	min-height: 500px;
	margin: 0 auto;
	background: #eaeaea;
	border-radius: 5px;
}
/* left content */
	.view-wrapper .view-left-content{
		width: 150px;
		min-height: 500px;
		background: #fefefe;
	}

		.view-left-content .sidebar-nav .sidebar-nav-item h3{

			padding: 5px;
			color: #7ccc31;
		}
			.view-left-content .sidebar-nav .sidebar-nav-item.selected h3 {

				background-color: #4D4D4F;
			}
		.view-left-content .sidebar-nav .sidebar-nav-item h3{

			padding: 5px;
			cursor: pointer;
		}
			.view-left-content .sidebar-nav .sidebar-nav-item h3:hover {

				
				color: #09ADED;
				border-radius: 3px;

				-webkit-box-shadow: 0px 0px 2px 1px rgba(9,172,237,1);
				-moz-box-shadow: 0px 0px 2px 1px rgba(9,172,237,1);
				box-shadow: 0px 0px 2px 1px rgba(9,172,237,1);
			}
			/*right content */
	.view-wrapper .view-right-content{
		width: 85%;
		padding: 15px;
	}

	.view-wrapper .view-left-content, .view-wrapper .view-right-content{
		display: inline-block;
		vertical-align: top;
	}
.menu, .right-wrapper{
	display: inline-block;
	vertical-align: top;
}
.menu-list{
	list-style-type: none;
}
.menu{
	position: fixed;
	background-color: #4d4d4f;
	width: 80px;
	height: 700px;
}
.menu-expand{
	display: none;
}
.menu-expand:hover{
	cursor: pointer;
}
.menu-expand img{
	width: 35px;
	margin-top: 15px;
	margin-left: 5px;
	position: absolute;
}
ul.menu-list li {

	margin-left: -40px;
}

	ul.menu-list li:not(:last-of-type) {

		border-bottom: 1px solid #1d1d1d;
	}

	ul.menu-list li:first-of-type {

		margin-top: 80px;
	}

	ul.menu-list li div, ul.menu-list li a {

		color: #7ccc31;
		width: 80px;
		height: 80px;
		display: inline-block;
		text-align: center;
		text-decoration: none;
	}

	ul.menu-list li:hover {

		cursor: pointer;
		color: #09ADED;
		background-color: #e1e1e1;
	}
	.chat-btn{
		background: url("/img/chat-icon.png") 20px 20px no-repeat;
	}
		.chat-btn:hover{
			background: url("/img/chat-icon2.png") 20px 20px no-repeat;
		}
	.fav-places{
		background: url("/img/fav-places.png") 20px 20px no-repeat;
		background-size: 35px;
	}
		.fav-places:hover{
			background: url("/img/fav-places2.png") 20px 20px no-repeat;
			background-size: 35px;
		}
	.new-dog-btn{
		background: url("/img/dog.png") 17px 30px no-repeat;
	}
		.new-dog-btn:hover{
			background: url("/img/dog2.png") 17px 30px no-repeat;
		}
	.admin-panel-btn {

		background: url("/img/wolf-logo-green.png") 17px 30px no-repeat;
	}
		.admin-panel-btn:hover {

			background: url("/img/wolf-logo-blue.png") 17px 30px no-repeat;
		}
.mobile-btn-login{
	display: none;
}
.join-us{
	text-align: center;
	margin-top: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #424345;
}
.styleless-list {

	list-style-type: none;
	margin-left: -20px;
}

#notif{
	margin-top: 17px;
	width: 22px;
	height: 22px;
}

div#notif #notif-count {

	bottom: 20px;
	right: -15px;	
}

#notif > img{
	width: 100%;
	margin: 0;
}
#notif > img:hover{
	cursor: pointer;
}
#notif-box ul {

	margin: 0;
	padding: 0;
}
#notif-box li {

	list-style-type: none;
	margin-left: 0;
    margin-bottom: 10px;
}
#notif-title {
	font-size: 14px;
}
.notif-container {
	padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 80px;
    border-top: 1px solid #36A7E8;
    border-bottom: 1px solid #36A7E8;
    border-radius: 5px;
    background-color:#eeeeee;
}
.notif-container.unseen {

	background-color: rgba(255, 153, 0, 0.3);
}
.notif-container.unseen:hover {

	background-color: rgba(255, 153, 0, 0.5);
}
.notif-container:hover {
    background-color: #D8D8D8;
}
img.notif-img {

	width: 80px;
	float: left;
	clear: right;
}
div.notif-read {

	float: left;
	margin-left: 10px;
}
div.notif-read img {
	display: inline-block;
	width: 20px;
	position: absolute;
}
div.notif-read img:hover {
	
	cursor: pointer;
}
div.notif-read img:hover + span.mas-helper {

	visibility: visible;
}
div.notif-read span {

	visibility: hidden;
	position: relative;
	bottom: 20px;
	right: 15px;
}
div.notif-date {

	font-size: 14px;
	font-style: italic;
	float: right;
}
div.notif-story {

	clear: right;
	padding: 10px;
	margin-left: 80px;
}
div.fr-buttons {

	margin-left: 100px;
}
.fr-buttons button {
	margin-right: 10px;
	padding: 5px;
}
.popup {
    background-color:#fafafa;
    color: #000;
    position:relative;
    display:inline-block;
    margin-top: 10px;
    margin-left: -60px;
    padding:10px;
    border:2px solid #09ADED;
    z-index:0;
    width: 300px;
    height: 350px;
    overflow-y: auto;
    border-radius: 5px;
}

.popup:after,
.popup:before {
    width:0;
    height:0;
    content:"";
    display:block;
    position:absolute;
    bottom:100%;
    left:1em;
}

.popup:after {
    border-bottom:10px solid #fafafa;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    z-index:1;
    margin-top:1px;
}

.popup:before {
    border-bottom:13px solid #09ADED;
    border-left:13px solid transparent;
    border-right:13px solid transparent;
    margin-top:-3px;
    margin-left:-3px;
    z-index:-100;
}


/* responsive design */

@media only screen and (max-width: 768px) {

	.popup{
		margin-left: -150px;
	}
	.form-field label{
		display: block;
	}
	form#signup-form{
		width: 400px !important;
	}
	h1.route-header{
		font-size: 25px;
		margin-left: 20px;
		width: 600px
	}
}

@media only screen and (max-width: 480px) {
	.right-wrapper, .view-wrapper, #signup-form{
		margin-left: 0;
		-webkit-transition: all 0.3s ease-in-out;
  		-moz-transition: all 0.3s ease-in-out;
  		-o-transition: all 0.3s ease-in-out;
  		transition: all 0.3s ease-in-out;
	}
	.content{
		margin-left: -80px !important;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.left-nav{
		display: none;
	}
	.mid-nav{
		width: 60%;
	}
	.right-nav{
		width: 40%;
	}
	.popup{
		margin-left: -210px;
	}
	.menu{
		margin-left: -80px;
		-webkit-transition: all 0.3s ease-in-out;
  		-moz-transition: all 0.3s ease-in-out;
  		-o-transition: all 0.3s ease-in-out;
  		transition: all 0.3s ease-in-out;
	}
	.menu-expand{
		display: block;
		margin-left: -5px;
	}
	.view-wrapper{
		width: 110%;
		/*margin-left: -20px !important;*/
	}
	h1.route-header{
		font-size: 20px;
	}
	form#signup-form{
		width: 350px !important;
		margin-left: -40px !important;
	}
	form .form-field input[type="submit"]{
		margin-left: 20px !important;
	}
	.btn-signup, .btn-nav-login{
		display: none;
	}
	.mobile-btn-login{
		display: block;
		padding: 7px;
		padding-left: 10px;
		margin-top: 15px;
		color: #09ADED;
		border: 1px solid #1D1D1D;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		text-decoration: none;
		text-align: center;
		background-color: #1D1D1D;
	}
	.mobile-btn-login:hover{
		cursor: pointer;
	}
	.ng-modal-dialog{
		width: 330px !important;
		height: 260px !important;
	}
	.login-btn{
		margin-top: 35px !important;
	}
	.mobile-user-menu-username{
		display: inline-block;
		position: absolute;
		padding-left: 20px;
		background: #121315;
		padding: 2px 8px;
		margin-top: -5px;
		border-radius: 5px;
	}
	#notif{
		margin-left: 20px;
	}
	.user-menu-username{
		display: none;
	}
	.user-menu-ul{
		margin-left: -45px;
	}
	
}
/*#lang-bar {

	font-size: 10px;
}
#lang-bar img {

	height: 20px;
}
#lang-bar a {
	width: 50px;
	height: 20px;
}
#lang-bar .dd-select {

	height: 50px;
}*/
#lang-bar {

	margin-top: 12px;
	margin-left: 180px;
}

#lang-bar .dd-select {

	height: 40px;
	background-color: #505050!important;
	border: none!important;
}

#lang-bar .dd-options, #lang-bar .dd-option {

	background-color: #505050!important;
	border-color: #424345;
	color: #7CCC31;
}

#lang-bar .dd-option:hover {

	color: #01A3E8;
}

#lang-bar .dd-selected-text {

	line-height: 20px!important;
}