h1,h2,div,a,span,table,tr,td,button,h3,section,img{
	margin: 0;
	padding: 0;
}
body{
	background-color: #181E22;
	color: #fff;
}
h1, h2, h3, a{
	color: #0CA2FF;
}
.contentDialog{
	color:#000;
}

.friend-item {
	display: block;
	padding: 20px;
	margin: 30px;
	border: 1px solid cyan;
}

.friend-item:hover {
	background-color: cyan;
}
