extends includes/layout
block main-content
    div.nav
        div.left-nav
            ul.nav-bar-ul
                li
                    a.title(href="/")
        div.mid-nav
            div(ng-include="'partials/account/search'")
        div.right-nav
            div.float-right
                div.nav-login(ng-include="'partials/account/login'")
    div.wrapper
        div.menu(ng-include="'partials/main/menu'")
        div(id="left-menu-dialog")
            div(id="left-dialog-content" ng-include="'partials/main/dialog'")
        div(id="cover")
        div.right-wrapper
            div.content(ng-view)