extends includes/layout
block main-content
    div.nav
        div.left-nav
            ul.nav-bar-ul
                li
                    a.title(href="/")
                li
                    a(href="#/chat") Chat
        div.mid-nav
            div(ng-include="'partials/account/search'")
        div.right-nav
            div.float-right
                div.nav-login(ng-include="'partials/account/login'")
                a.btn-signup(href="#/sign-up") Sign Up
    div.wrapper
        div.menu(ng-include="'partials/main/menu'")
        div(id="left-menu-dialog")
            div(id="left-dialog-content")
                ul
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
                    li
                        div dksoa dasj a dasjk askjda
        div(id="cover")
        div.right-wrapper
            .content
                div(ng-view)
                footer
                    p.text-center &copy; Doggy World