div.wrapper-dog
	div.dog-left
		div.dog-pic-container
			img#dog-img-change(src="{{dog.url}}")
		div#change-btn-pic.btn-change-dog-field(ng-click="changeTrigger('ProfPhoto')" ng-hide="showChangeProfPhoto") Change
		div(ng-show="showChangeProfPhoto")
			input#input-browse-photo(required ng-file-select="onFileSelect($files)" type="file")
			div.btn-change-dog-field(ng-click="browsePhotoTrigger()") Browse Photo
			div.btn-change-dog-field(ng-show="showChangeProfPhoto" ng-click="changeField('ProfPhoto')") Save Change
	div.dog-mid
		div.dog-group
			h2.dog-name {{dog.name}}
			form.dog-change-content(ng-show="showChangeName")
				input.dog-input-field(type="text" placeholder="Change Name" ng-model="name")
				input.btn-change-dog-field(type="submit" value="Change" ng-click="changeField('Name')")
		div.dog-group 
			div.dog-birthdate Birth Date: {{dog.birthDate}}
			form.dog-change-content(ng-show="showChangeBirthDate")
				select.dog-date-selector(ng-model="dog.day" ng-options="opt as opt.label for opt in optionsDay")
				select.dog-date-selector(ng-model="dog.month" ng-options="opt as opt.label for opt in optionsMonth")
				select.dog-date-selector(ng-model="dog.year" ng-options="opt as opt.label for opt in optionsYear")
				input.btn-change-dog-field(type="submit" value="Change" ng-click="changeField('BirthDate')")
		div.dog-group
			div.dog-breed Breed: {{dog.breed}}
			form.dog-change-content(ng-show="showChangeBreed")
				input.dog-input-field(type="text" placeholder="Change Breed" ng-model="breed")
				input.btn-change-dog-field(type="submit" value="Change" ng-click="changeField('Breed')")
		div.dog-group
			div.dog-food food: 
				span(ng-repeat="f in dog.food") {{f}} 
		div.dog-group
			div.dog-walk walks: 
				span(ng-repeat="w in dog.walk") {{w}} 
		div.dog-description 
			div {{dog.description}}
			div.dog-change-content(ng-show="showChangeDescription")
				textarea#description-change(ng-model="description")
				button#textarea-btn.btn-change-dog-field(ng-click="changeField('Description')") Change

	div.dog-right()
		div.btn-change-dog-field(ng-click="changeTrigger('Name')") Change
		div.btn-change-dog-field(ng-click="changeTrigger('BirthDate')") Change
		div.btn-change-dog-field(ng-click="changeTrigger('Breed')") Change
		div.btn-change-dog-field(ng-click="changeTrigger('Food')") Change
		div.btn-change-dog-field(ng-click="changeTrigger('Walk')") Change
		div.btn-change-dog-field(ng-click="changeTrigger('Description')") Change