div
	h1 Review Achievments
	div.ach-review-box(ng-repeat="achievment in achievmentApplications")
		h1 {{achievment.name}}
		video(controls)
			source(ng-src="{{'/admin/achievments/video/' + achievment._id}}")