div#ach-review-panel
	h1 Review Achievments
	div.ach-review-box(ng-repeat="achievment in achievmentApplications")
		h4
			i
				| Requested {{achievment.createdAt | moment: 'fromNow'}}!
		table#ach-review
			tbody#ach-review-body
				tr
					td 
						h3 Achievment Name
					td 
						| {{achievment.name}}
				tr(ng-show="achievment.description")
					td
						h3 Achievment Description
					td
						| {{achievment.description}}
				tr(ng-show="achievment.points")
					td
						h3 Achievment Points
					td
						| {{achievment.points}}
				tr
					td 
						h3 Video Proof
					td
						video(controls)
							source(ng-src="{{'/admin/achievments/video/' + achievment._id}}")
							| Install a more modern browser to view this video!
				tr
					td
						h3 Author
					td
						a(href="#/profile/{{achievment.author.username}}") {{achievment.author.name}}
				tr
					td
						h3 Request Type
					td
						span(ng-show="achievment.suggestChange") 
							| Edit Achievment Suggestion
						span(ng-show="!achievment.points && !achievment.description") 
							| Achievment Application
						span(ng-show="achievment.points && achievment.description && !achievment.suggestChange")
							| New Achievment Suggestion