div
	form#achievment-form(ng-show="true")
		div.form-field(ng-hide="createNew")
			label.label(for="ach-name") Pick Achievment
			select.field#ach-name(ng-model="achievment.name")
				option(ng-repeat="exisAch in existingAchievments") {{exisAch.name}}
		div.form-field(ng-show="createNew")
			label.label(for="new-ach-name") Name
			input#new-ach-name.field(type="text" ng-model="achievment.name")
		div.form-field(ng-show="createNew")
			label.label(for="achievmentDescription") Description
			input#achievmentDescription.field(type="text" ng-model="achievment.achievmentDescription")
		div.form-field
			label.label(for="video-input") Video Proof
			input#video-input(ng-file-select="onFileSelect($files)" type="file")
			div.video-preview
				progress.progress-photo.ach-progress(value="{{progress}}" ng-show="progress != 1")
				video#video-preview(controls ng-hide="progress != 1" width="700px")
		div.form-field
			button(ng-click="applyForAchievment();") Apply