.prof-wrapper
	.prof-left-content
		.prof-photo-container
			img.profPhoto(src="{{profPhoto}}")
		.sidebar-nav
			.sidebar-nav-item(ng-click="changeView('achievments')") 
				h3 Achievments
			.sidebar-nav-item(ng-click="changeView('dogs')") 
				h3 Dogs
	.prof-right-content
		div.prof-notCurrUser(ng-hide="identity.currentUser._id == profile._id")
			h1 Profile of {{profile.firstName}} {{profile.lastName}}
			span(ng-show="identity.currentUser")
				button(ng-click="befriendMate()") +Add Friend
				button(ng-click="openDiscussion(profile)") Send Message
		h1(ng-show="identity.currentUser._id == profile._id") Welcome {{identity.currentUser.firstName}}!
		div.pet-wrapper
			div.prof-dog-container(ng-show="view.dogs" ng-click="goToDogRoute($index)" ng-repeat="dog in profile.dogs track by $index")
				div.name-container
					a.dog-name(href="#/dog/{{dog._id}}") {{dog.name}}
				div.birthdate Birthdate: {{dog.birthDate}}
				div.breed Breed: {{dog.breed}}
				div.description-pic-container
					div.pic-container
						img(src="{{dog.url}}")
					div.description {{dog.description}}
			profile-achievments(ng-show="view.achievments")