doctype
html
    head
        title Doggy World
        link(rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
        link(rel="stylesheet" href="/css/toastr.min.css")
        link(rel="stylesheet" href="/css/datepicker.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/search.css")
        link(rel="stylesheet" href="/css/leftMenuDialog.css")
        link(rel="stylesheet" href="/css/modalDialog.css")
        link(rel="stylesheet" href="/css/home-page.css")
        link(rel="stylesheet" href="/css/chatWindow.css")
        link(rel="stylesheet" href="/css/forms.css")
        link(rel="stylesheet" href="/css/loading.css")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser