doctype
html
    head
        title Doggy World
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/search.css")
        link(rel="stylesheet" href="/css/leftMenuDialog.css")
        link(rel="stylesheet" href="/css/modalDialog.css")
        link(rel="stylesheet" href="/css/toastr.min.css")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser