doctype
html
    head
        title Puppy Mates
        link(rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
        link(rel="stylesheet" href="/lib/visualcaptcha.angular/visualcaptcha.css")
        link(rel="stylesheet" href="/lib/toastr.toastr.min.css")
        link(rel="stylesheet" href="/css/datepicker.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/search.css")
        link(rel="stylesheet" href="/css/dog-route.css")
        link(rel="stylesheet" href="/css/leftMenuDialog.css")
        link(rel="stylesheet" href="/css/modalDialog.css")
        link(rel="stylesheet" href="/css/home-page.css")
        link(rel="stylesheet" href="/css/front-page.css")
        link(rel="stylesheet" href="/css/profile.css")
        link(rel="stylesheet" href="/css/chatWindow.css")
        link(rel="stylesheet" href="/css/places.css")
        link(rel="stylesheet" href="/css/forms.css")
        link(rel="stylesheet" href="/css/loading.css")
        link(rel="stylesheet" href="/css/achievments.css")
        meta(id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser