script(type="text/javascript" src="/lib/jquery-2.1.0.js")
script(type="text/javascript" src="/lib/socket.io-1.2.1.js")
script(type="text/javascript" src="/lib/toastr.js")
script(type="text/javascript" src="/lib/angular.min.js")
script(type="text/javascript" src="/lib/angular-route.min.js")
script(type="text/javascript" src="/lib/angular-resource.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/services/socketioService.js")
script(type="text/javascript" src="/app/services/requestService.js")
script(type="text/javascript" src="/app/main/controllers/mainController.js")
script(type="text/javascript" src="/app/main/controllers/menuController.js")
script(type="text/javascript" src="/app/main/controllers/frontPageController.js")
script(type="text/javascript" src="/app/main/controllers/DialogController.js")
script(type="text/javascript" src="/app/main/services/showDirectiveDialog.js")
script(type="text/javascript" src="/app/chat/controllers/chatController.js")
script(type="text/javascript" src="/app/profile/controllers/profileController.js")
script(type="text/javascript" src="/app/account/js/controllers/loginController.js")
script(type="text/javascript" src="/app/account/js/controllers/signUpController.js")
script(type="text/javascript" src="/app/account/js/controllers/profileController.js")
script(type="text/javascript" src="/app/account/js/controllers/searchController.js")
script(type="text/javascript" src="/app/directives/modalDialog.js")
<<<<<<< HEAD
script(type="text/javascript" src="/app/directives/chatWindow/chatWindow.js")
=======
script(type="text/javascript" src="/app/directives/chatDir.js")
script(type="text/javascript" src="/app/directives/chatDirCtrl.js")
>>>>>>> dae12f118b9eff9003ec095d0e42f85f558fcb90
script(type="text/javascript" src="/app/account/js/resources/identity.js")
script(type="text/javascript" src="/app/account/js/resources/auth.js")
script(type="text/javascript" src="/app/account/js/resources/usersResource.js")
script(type="text/javascript" src="/app/admin/userListController.js")
script(type="text/javascript" src="/app/common/notifier.js")