script(type="text/javascript" src="/lib/jquery-2.1.0.js")
script(type="text/javascript" src="/lib/jquery-ui.js")
script(type="text/javascript" src="/lib/socket.io-1.2.1.js")
script(type="text/javascript" src="/lib/toastr.js")
script(type="text/javascript" src="/lib/angular.js")
script(type="text/javascript" src="/lib/angular-route.min.js")
script(type="text/javascript" src="/lib/angular-resource.js")
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNE5LBivJlaVumJO0XHdMEumfl2bg2H5o")
script(type="text/javascript" src="/lib/ngDraggable.js")
script(type="text/javascript" src="/lib/moment.js")
script(type="text/javascript" src="/lib/scrollglue.js")
script(type="text/javascript" src="/lib/offClick.js")
script(type="text/javascript" src="/lib/geolocation.js")
script(type="text/javascript" src="/lib/visualcaptcha.angular/visualcaptcha.angular.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/filters/moment-filter.js")
script(type="text/javascript" src="/app/filters/iif.js")
script(type="text/javascript" src="/app/services/socketioService.js")
script(type="text/javascript" src="/app/services/requestService.js")
script(type="text/javascript" src="/app/services/loadingService.js")
script(type="text/javascript" src="/app/main/controllers/mainController.js")
script(type="text/javascript" src="/app/main/controllers/menuController.js")
script(type="text/javascript" src="/app/main/controllers/frontPageController.js")
script(type="text/javascript" src="/app/main/controllers/dialogController.js")
script(type="text/javascript" src="/app/main/services/showDirectiveDialog.js")
script(type="text/javascript" src="/app/places/js/placesController.js")
script(type="text/javascript" src="/app/places/js/placesService.js")
script(type="text/javascript" src="/app/chat/controllers/chatController.js")
script(type="text/javascript" src="/app/notifications/notificationsController.js")
script(type="text/javascript" src="/app/profile/controllers/profileController.js")
script(type="text/javascript" src="/app/profile/controllers/achievmentController.js")
script(type="text/javascript" src="/app/profile/controllers/achievmentDirective.js")
script(type="text/javascript" src="/app/account/js/controllers/loginController.js")
script(type="text/javascript" src="/app/account/js/controllers/signUpController.js")
script(type="text/javascript" src="/app/account/js/controllers/ProfileController.js")
script(type="text/javascript" src="/app/account/js/controllers/searchController.js")
script(type="text/javascript" src="/app/dog/js/dogController.js")
script(type="text/javascript" src="/app/directives/modalJs/modalDialog.js")
script(type="text/javascript" src="/app/directives/chatJs/chatDir.js")
script(type="text/javascript" src="/app/directives/dogJs/newDogDir.js")
script(type="text/javascript" src="/app/directives/dogJs/newDogCtrl.js")
script(type="text/javascript" src="/app/directives/dogJs/dogService.js")
script(type="text/javascript" src="/app/directives/dogJs/fileSelectDir.js")
script(type="text/javascript" src="/app/directives/draggableChatJS/draggableChatDir.js")
script(type="text/javascript" src="/app/directives/draggableChatJS/discussionController.js")
script(type="text/javascript" src="/app/directives/placesJs/addPlaceDir.js")
script(type="text/javascript" src="/app/account/js/resources/identity.js")
script(type="text/javascript" src="/app/account/js/resources/auth.js")
script(type="text/javascript" src="/app/account/js/resources/usersResource.js")
script(type="text/javascript" src="/app/admin/userListController.js")
script(type="text/javascript" src="/app/common/notifier.js")
script(type="text/javascript" src="/app/common/fileReaderAngular.js")
