h1 CHAT
a(ng-repeat="friend in friends" class="friend-item" href="/#/chat/{{friend.username}}") {{friend.username}}
button(id="try-btn") send message to gosho

div(ng-show="inChat")
	div(ng-repeat="message in messages")
		span {{message.from}}
		span {{message.content}}
	