div.pl-wrapper
	div.pl-left-content
		h1 Your places:
		div#map-canvas
		div
			button.pl-button(ng-click="showHidePlaceDir('addPlace')") Add Place
			button.pl-button(ng-click="showHidePlaceDir('removePlace')") Remove Place
			button.pl-button(ng-click="showHidePlaceDir('addRoute')") Add Route
			button.pl-button(ng-click="showHidePlaceDir('removeRoute')") Remove Route
			button.pl-button(ng-click="showHidePublicPlaces('show')") Show other people's places
			button.pl-button(ng-click="showHidePublicPlaces('hide')") Hide other people's places
			
	div.pl-right-content
		div(add-place ng-show="addPlaceTrigger")