div.pl-wrapper
	div.pl-left-content
		h1 Your places:
		div#map-canvas
		div
			button.pl-button(ng-click="addPlace()") Add Place
			button.pl-button(ng-click="showHidePlaceDir('removePlace')") Remove Place
			button.pl-button(ng-click="showHidePlaceDir('addRoute')") Add Route
			button.pl-button(ng-click="showHidePlaceDir('removeRoute')") Remove Route
			button.pl-button(ng-click="showHidePublicPlaces('show')") Show other people's places
			button.pl-button(ng-click="showHidePublicPlaces('hide')") Hide other people's places
			
	div.pl-right-content
		div(add-place ng-show="addPlaceTrigger")
		div(ng-show="!user.places.length") No information to display
		button.pl-btn-users.pl-btn-clicked#btn-user-tab(ng-click="displayCurUsPl()") My Places
		button.pl-btn-users.pl-btn-not-clicked#btn-allusers-tab(ng-click="displayAllUsPl()") Other Users' Places
		div.pl-p-users.pl-p-clicked(ng-show="displayCurUsPlTrigger")
			ul
				li(ng-repeat="place in user.places")
					| {{place.name}}
		div.pl-p-users.pl-p-not-clicked(ng-show="displayAllUsPlTrigger")
			ul
				li(ng-repeat="pl in allUsersPlaces")
					| {{pl.name}}