div.view-wrapper
	div.pl-ask-window
		h3.pl-window-title Do you really want
			br
			| to delete the place?
		div
			button.pl-window-delete(ng-click="confirmDeletePlace()") Delete
			button.pl-window-cancel(ng-click="cancelDeltePlace()") Cancel
	div.pl-left-content
		h1 Your places:
		div#map-canvas
		div
			button.pl-button(ng-click="addPlace()") Add Place
			button.pl-button(ng-click="showHidePlaceDir('addRoute')") Add Route
			button.pl-button(ng-click="showHidePublicPlaces('show')") Show other people's places
			button.pl-button(ng-click="showHidePublicPlaces('hide')") Hide other people's places
			
	div.pl-right-content
		section.pl-explanation
			div
				img(src="/img/marker-blue.png")
				span - your places
			div
				img(src="/img/marker-green.png")
				span - other people's places
		div(add-place ng-show="addPlaceTrigger")
		div(ng-show="!user.places.length") No information to display
		button.switch-btn#btn-user-tab(ng-click="showAllPl = false;" 
		ng-class="{'switch-btn-clicked': !showAllPl, 'switch-btn-not-clicked': showAllPl}") My Places
		button.switch-btn#btn-allusers-tab(ng-click="showAllPl = true;" 
		ng-class="{'switch-btn-clicked': showAllPl, 'switch-btn-not-clicked': !showAllPl}") Other People's Places
		div.pl-p-users.pl-p-clicked(ng-show="!showAllPl")
			ul.pl-place-ul
				li.pl-place-li.pl-user-places(ng-repeat="place in userPlaces track by $index")
					div
						img(src="/img/marker-blue.png")
						span.pl-name-span
							a(ng-click="centerMap($index)") {{place.name}}
						span.pl-rate-span rate: {{place.rate}}
						button(ng-click="deletePlace($index)") delete
					div.pl-description
						span.pl-span-description Description:
						| {{place.description}}
		div.pl-p-users.pl-p-not-clicked(ng-show="showAllPl")
			ul.pl-place-ul
				li.pl-place-li(ng-repeat="pl in peoplePlaces track by $index")
					div
						img(src="/img/marker-green.png")
						span.pl-name-span
							a(ng-click="centerMap($index)") {{pl.name}}
						span.pl-rate-span rate: {{pl.rate}}
						button.pl-rate-btn(ng-click="ratePlace($index)") 
							img.pl-rate-img(src="/img/paw.png")
							span +1
					div.pl-description
						span.pl-span-description Description:
						| {{pl.description}}