div(ng-controller="LoginController")
	a.btn-nav-login(href="#" ng-click='toggleModal()') Login
	modal-dialog.contentDialog(show='modalShown' width='400px' height='60%')
		h2 Login
		hr
		form
			div
				label User Name:
				input(type="text" required="required" placeholder="User Name" ng-model="user.username")
			div
				label Password:
				input(type="password" required="required" placeholder="Password" ng-model="user.password")
			button(ng-click="login(user)") Login