div(ng-controller="LoginController")
	div(ng-show="!identity.currentUser")
		a.btn-nav-login(ng-click='toggleModal()' translate) Login
		a.btn-signup(href="#/sign-up" translate ng-class="crntLanguage") Sign Up
		a.mobile-btn-login(ng-click='toggleModal()' translate) Join/Login
	div.logged-in-items(ng-hide="!identity.currentUser")
		span.user-menu( ng-init="useroptions = false" ng-click="useroptions = !useroptions") 
			span.user-menu-username(ng-click="showUserMenu = (!showUserMenu)") {{identity.currentUser.username}}
			span.mobile-user-menu-username(ng-click="showUserMenu = (!showUserMenu)" translate) Me
			ul.user-menu-ul(ng-show="showUserMenu")
				li(ng-click="signout()" translate) signout
				li(ng-click="showUserMenu = (!showUserMenu)")
					a(ng-href="{{'#/profile/' + identity.currentUser.username + '/dogs'}}" translate) My profile
	modal-dialog.contentDialog(show='modalShown' width='400px' height='235px')
		h2.login-h(translate) Login
		div.line(ng-class="crntLanguage")
		form
			div.form-row
				label.user-name-lbl(translate) User Name:
				input.login-input(type="text" ng-change="change()" placeholder="{{'User Name' | translate }}" ng-model="user.username")
			div.form-row
				label.password-lbl(translate ng-class="crntLanguage") Password:
				input.login-input(type="password" placeholder="{{'Password' | translate }}" ng-model="user.password")
			button.login-btn(ng-click="login(user)" translate ng-class="crntLanguage") Login
			div.join-us
				a(href="#/sign-up" ng-click="toggleModal()" translate) JOIN US!