div(ng-controller="LoginController")
	button(ng-click='toggleModal()') login
	div трябва modal да се показва при натискане на бутона
	modal-dialog(show='modalShown' width='400px' height='60%')
		div Login
		hr
		br
		form
			div
				label User Name:
				input(type="text" required="required" placeholder="User Name" ng-model="user.username")
			div
				label Password:
				input(type="password" required="required" placeholder="Password" ng-model="user.password")
			button(ng-click="login(user)") Login