div(ng-controller="LoginController")
	div(ng-show="!identity.currentUser")
		a.btn-nav-login(ng-click='toggleModal()') Login
		a.btn-signup(href="#/sign-up") Sign Up
	div.logged-in-items(ng-hide="!identity.currentUser")
		span.user-menu( ng-init="useroptions = false" ng-click="useroptions = !useroptions") 
			span(ng-click="showUserMenu = (!showUserMenu)") {{identity.currentUser.username}}
			ul.user-menu-ul(ng-show="showUserMenu")
				li(ng-click="signout()") signout
				li(ng-click="showUserMenu = (!showUserMenu)")
					a(ng-href="{{'#/profile/' + identity.currentUser.username + '/dogs'}}") My profile
	modal-dialog.contentDialog(show='modalShown' width='400px' height='210px')
		h2.login-h Login
		div.line
		form
			div.form-row
				label.user-name-lbl User Name:
				input.login-input(type="text" ng-change="change()" placeholder="User Name" ng-model="user.username")
			div.form-row
				label.password-lbl Password:
				input.login-input(type="password" placeholder="Password" ng-model="user.password")
			button.login-btn(ng-click="login(user)") Login