div(ng-controller="LoginController")
	div(ng-show="!identity.currentUser")
		a.btn-nav-login(ng-click='toggleModal()') Login
		a.btn-signup(href="#/sign-up") Sign Up
	div(ng-hide="!identity.currentUser")
		button.btn-signout(ng-click="signout()") Sign out
	modal-dialog.contentDialog(show='modalShown' width='400px' height='32%')
		h2.login-h Login
		div.line
		form
			div.form-row
				label.user-name-lbl User Name:
				input.login-input(type="text" ng-change="change()" placeholder="User Name" ng-model="user.username")
			div.form-row
				label.password-lbl Password:
				input.login-input(type="password" placeholder="Password" ng-model="user.password")
			button.login-btn(ng-click="login(user)") Login
