div(ng-controller="SearchController")
	form
		span
			input.search.rounded(type="text" class="" placeholder="Search..." ng-model="srch" ng-change="search(srch)")
		div.search-results(ng-show="results")
			ul
				li fdnajkfdsnkfdjsakjf
				li mdskfdsmqfkmds
