div(ng-controller="SearchController")
	form.form-search
		span
			input.search.rounded(type="text" class="" placeholder="Search..." ng-model="srch" ng-change="search(srch)")
		div.search-results(ng-show="results")
			div(ng-show="people") People
				ul
					li(ng-repeat="person in people")
						| {{person.firstName}} {{person.lastName}}
			div(ng-show="dogs") Dogs
				ul
					li(ng-repeat="dog in dogs")
						| {{dog.name}}
