div(ng-controller="SearchController")
	form.form-search
		span
			input.search.rounded(type="text" class="" placeholder="Search..." ng-model="srch" ng-change="search(srch)"
				ng-focus="focus = true;" ng-blur="focus = false;")
		div.search-results(ng-show="results && focus")
			div(ng-show="people")
				h3.search-result-title Dog Owners
				ul.styleless-list
					a.search-result-link(ng-repeat="person in people" href="#/profile/{{person.username}}")
						li 
							h2.search-result-name {{person.firstName}} {{person.lastName}}
							div.search-result.dog(ng-show="person.dogs.length") Owner of: 
								span(ng-show="$index != 0 && dog.breed.length") , 
								span(ng-repeat="dog in person.dogs" ng-show="dog.breed.length >= 2") {{dog.breed}} 
			div(ng-show="dogs")
				h3.search-result-title Dogs
				ul.styleless-list
					a.search-result-link(ng-repeat="dog in dogs" href="#/dog/{{dog._id}}")
						li 
							h2.search-result-name {{dog.name}}