div.front-wrapper
	h1.frp-title
		a(href="#/sign-up") Join the Biggest network for dog owners
	h2.frp-title
		a(href="#/sign-up") You will...
	div.frp-box-wrapper
		a(href="#/sign-up")
			h5 Find the best places for your dog!
			div You will have the chance to
				br
				| exlpore your city for the best places
				br
				| to enjoy a walk with your dog.
		a#frp-box-sec(href="#/sign-up")
			h5 Stay connected with your friends!
			div Why not text a message to your buddy for 
				br 
				| a walk with your dogs? Get in touch
				br
				| with all your friends instantly.
		a(href="#/sign-up")
			h5 Having problems with your dog?
			div Doggy world will remind you when
				br 
				| to give food to your dogs and when
				br
				| to go just for a walk!