.col-1
	div.profPhotoContainer
		img.profPhoto(src="{{profPhoto}}")
.col-2
	div.content-home
		h2.user-names
			a(href="#/profile/{{username}}") {{user.firstName}} {{user.lastName}}
		div
			| My pets:
		div.pet-wrapper
			div.dog-container(ng-click="$location.path('/dog/' + dog._id)" ng-repeat="dog in user.dogs")
				div.name-container
					a.dog-name(href="#/dog/{{dog._id}}") {{dog.name}}
				div.birthdate Birthdate: {{dog.birthDate}}
				div.breed Breed: {{dog.breed}}
				div.description-pic-container
					div.pic-container
						img(src="{{dog.url}}")
					div.description {{dog.description}}
				div(dog-dir dog="dog" on-close="closeDogDialog(dog)" ng-show="dog.showModal")