div(ng-controller="MenuController")
	div.cover
	ul.menu-list
		li
			div.chat-btn(ng-click="showDialog($event)" name="chat" id="left-hand-chat-btn") CHAT
		li
			div.new-dog-btn(ng-click="showDialog($event)" name="new-dog") Add Dog
		li
			a.fav-places(href="#/places") Fav. Pl.
		